<div class="jobs-container">
    {% for job in site.data.output %}
        <a target="_blank" href="http://stackoverflow.com{{ job.url }}" class="joblink">
            <div class="job-item" data-tags="{{ job.tags | join: ',' }}">
                <small class="date">{{ job.timestamp | date: "%d/%m/%Y" }}</small>
                <p class="jobcompany">{{ job.company }}</p>
                <h3 class="jobtitle">{{ job.title }}</h3>
                {% for tag in job.tags %}
                    <p class="jobtag">{{ tag }}</p>
                {% endfor %}
                <span class="joblink">acessar</span>
            </div>
        </a>
    {% endfor %}
</div>