<div class="filtersWrapper">
    <div class="filtersInner" id="filters" style="visibility: hidden;">
        <ul class="filters">
            <li class="filterItem">
                <div class="filterGroup">
                    <span class="filterLabel">Tags: </span>
                    <span class="filterValue" id="tagsFilterLabel"></span>
                </div>
            </li>
        </ul>
        <button class="clearFiltersBtn" id="clearFiltersBtn">X</button>
    </div>
</div>

<div class="jobs-container">
    {% for job in site.data.output %}
        <div class="job-item" data-tags="{{ job.tags | join: ',' }}">
            <small class="date">{{ job.timestamp | date: "%d/%m/%Y" }}</small>
            <p class="jobcompany">{{ job.company }}</p>
            <h3 class="jobtitle">{{ job.title }}</h3>
            {% for tag in job.tags %}
                <a href="#{{tag}}" class="jobtag">{{ tag }}</a>
            {% endfor %}
            <a target="_blank" href="http://stackoverflow.com{{ job.url }}" class="joblink">acessar</a>
        </div>
    {% endfor %}
</div>