.hightlight-jobs {
    position: relative;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    & .title {
        font-size: 28px;
        width: 100%;
        margin: 0;
        color: #0052CC;
    }
    & .quote {
        color: #7A869A;
        font-size: 18px;
        width: 100%;
    }
}
