---
---
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700');

body {
    font-family: 'Open Sans', sans-serif;
}
.jobs-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 5%;
}
.job-item {
    width: 250px;
    height: 250px;
    background-color: white;
    border: 1px solid #B3BAC5;
    margin: 5px;
    padding: 20px;
    position: relative;
    &:hover {
        background-color: #F4F5F7; 
        &  .joblink {
            display: block;
        }
    }
    & .date {
        font-size: 12px;
        color: #97A0AF;
    }
    & .jobcompany {
        margin: 5px 0;
        color: #6C798F;
    }

    & .jobtitle {
        font-size: 17px;
        color: #172B4D;
        margin-top: 0;
    }
    & .jobtag {
        font-size: 13px;
        display: inline;
        background-color: #C1C7D0;
        color: #172B4D;
        padding: 3px 5px;
        border-radius: 3px;
        line-height: 2;
    }
    & .joblink {
        text-decoration: none;
        color: #2684FF;
        text-transform: uppercase;
        font-size: 14px;
        position: absolute;
        bottom: 20px;
        left: 20px;
        display: none;
    }

}

@media screen and (min-width: 1280px ) {
    .jobs-container {
        margin: 0 15%;
    }
}